// @Author: troykevin
// @Date:   2018-12-20T14:56:49+08:00
// @Email:  q964049459@gmail.com
// @Last modified by:   troykevin
// @Last modified time: 2019-01-08T13:54:30+08:00
.login-panel{
    margin-top: 25%;
    box-shadow: 4px 4px 12px #444;
    border-radius: 4px;
}
