// @Author: troykevin
// @Date:   2018-12-24T22:32:25+08:00
// @Email:  q964049459@gmail.com
// @Last modified by:   troykevin
// @Last modified time: 2018-12-24T22:39:03+08:00
.cate-select {
    width: 160px;
    margin-right: 15px;
    display: inline-block;
}
