// @Author: troykevin
// @Date:   2018-12-29T13:23:39+08:00
// @Email:  q964049459@gmail.com
// @Last modified by:   troykevin
// @Last modified time: 2018-12-29T13:33:08+08:00
.btn-send{
    margin-left: 20px;
}

.p-img{
    display: block;
    width: 180px;
    height: 180px;
}
